<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top bg-#F6C341">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" target="_blank">#</a>
          
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#about">About us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="final">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Get quote</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
             
            </ul>
          </div>
        </div>
      </nav>

      <h1 style="margin-top: 5rem; text-align: center; ">SKS SWOT Analysis</h1>

      <section id="title">
        
        
      </section>

      <section id="about">
            <h2>About us</h2>

            <div class="we-are-block">

              <div id="about-us-section">
            
                <div class="about-us-image">
            
                  <img src="/images/swotabout.webp" width="808" height="458" alt="Lobby Image">
            
                </div>
            
                <div class="about-us-info">
            
                  <h3>Strength,Weakness,Opportunities and Threats</h3>
            
                  <p>SWOT stands for Strengths, Weaknesses, Opportunities, and Threats.
                    
                    Strengths and weaknesses are internal to your company—things that you have some control over and can change. Examples include who is on your team, your patents and intellectual property, and your location.
                    
                    Opportunities and threats are external—things that are going on outside your company, in the larger market. You can take advantage of opportunities and protect against threats, but you can’t change them. Examples include competitors, prices of raw materials, and customer shopping trends.</p>
            
                  <!-- <a href="#" title="About Us Button">ABOUT US</a> -->
            
                </div>
                </div>
            
              </div>
              
            </div>
            
            
      </section>


       <section id="getquote">
      
        <div class="quote">
        <h3>Would you like to take up a SWOT Analysis?</h3>
        <a href="quote"><button type="button" class="btn btn-primary btn-lg"> Get Proceed</button></a>
      </div>

                
      </section>

      
  
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</html>
